<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="setContent(content)">
    <head>
        <!-- ==============================================
        Title and Meta Tags
        =============================================== -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Fluffs - Ultimate Bootstrap Social Network UI Kit</title>
        <meta name="description" content="" />
        <meta name="keywords" content="" />
        <meta property="og:title" content="" />
        <meta property="og:url" content="" />
        <meta property="og:description" content="" />

        <!-- ==============================================
        Favicons
        =============================================== -->
        <link rel="icon" th:href="@{/assets/img/logo.jpg}">
        <link rel="apple-touch-icon" th:href="@{/img/favicons/apple-touch-icon.png}">
        <link rel="apple-touch-icon" sizes="72x72" th:href="@{/img/favicons/apple-touch-icon-72x72.png}">
        <link rel="apple-touch-icon" sizes="114x114" th:href="@{/img/favicons/apple-touch-icon-114x114.png}">

        <!-- ==============================================
        CSS
        =============================================== -->
        <link type="text/css" th:href="@{/assets/css/demos/photo.css}" rel="stylesheet" />
        <link type="text/css" th:href="@{/assets/css/customFilter.css}" rel="stylesheet" />
    </head>
    <body>
    <div th:fragment="sidebar" class="col-lg-3">
        <div class="messages-container">
            <form action="/pamily/sample/main" method="get" id="searchForm">
                <div class="message-header">
                    <div class="message-title">
                        <h4>추천 목록</h4>
                    </div><!--/ message-title-->
                    <div class="search-area">
                        <div class="input-field">
                            <input type="hidden" name="page" value = "1" >
                            <select name="type" style="display:none;">
                                <option type="hidden" value="t" th:selected="${pageRequestDTO.type == 't'}" >Name</option>
                            </select>
                            <input name="keyword" th:value="${pageRequestDTO.keyword}" >
                            <button class="fa fa-search btnSearch" type="button" style="border:0px" ></button>
                        </div>
                    </div><!--/ search-area-->
                </div><!--/ message-header-->
            </form>

            <div class="suggestion-box full-width">
                <div class="suggestions-list">
                    <div class="suggestion-body">
                        <div class="name-box">
                            <table>
                                <tr th:each="dto : ${result.dtoList}" th:data-type="${pageRequestDTO.type}"
                                    th:data-keyword="${pageRequestDTO.keyword}"
                                    th:if="${dto.name} !=null">
                                    <td><img src="/pamily/assets/img/users/1.jpg" class="img-responsive img-circle" alt=""></td>
                                    <td><a th:href="@{/sample/myProfile}" style="color: black; font-size: 10pt;" >[[${dto.name}]] </a> </td>
                                    <td><i class="fa fa-plus" style="cursor:pointer"></i></td>
                                </tr>
                            </table>

                            <ul class="pagination h-100 justify-content-center align-items-center">
                                <li class=" 'page-item' " th:if="${result.prev}" >
                                    <a class="page-link" th:href="@{/sample/main(page= ${result.start -1},
                                       type=${pageRequestDTO.type} , keyword = $ {pageRequestDTO.keyword} ) }"
                                       tabindex="-1" >Previous</a>
                                </li>
                                <li th:class=" 'page-item ' + ${result.page == page?'active':''} "
                                    th:each="page: ${result.pageList}" >
                                    <a class="page-link" th:href="@{/sample/main(page= ${page} ,
                                    type= ${pageRequestDTO.type} , keyword = ${pageRequestDTO.keyword}  )}" >[[${page}]]</a>
                                </li>
                                <li class=" 'page-item' " th:if="${result.next}" >
                                    <a class="page-link" th:href="@{/sample/main(page= ${result.end + 1} ,
                                    type= ${pageRequestDTO.type} , keyword= ${pageRequestDTO.keyword} )}" >Next</a>
                                </li>
                            </ul>

                        </div>
                    </div>
                </div><!--suggestions-list end-->
            </div>
        </div><!--/ messages-container-->
    </div><!--/ col-lg-4 -->

    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <script th:href="@{/assets/js/sidebar.js}"></script>
    <script th:inline="javascript">

    </script>

    </body>
</th:block>