<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>

    <!-- ==============================================
    Title and Meta Tags
    =============================================== -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pamily</title>
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta property="og:title" content="" />
    <meta property="og:url" content="" />
    <meta property="og:description" content="" />

    <!-- ==============================================
    Favicons
    =============================================== -->
    <link rel="icon" th:href="@{assets/img/logo.jpg}">
    <link rel="apple-touch-icon" th:href="@{img/favicons/apple-touch-icon.png}">
    <link rel="apple-touch-icon" sizes="72x72" th:href="@{img/favicons/apple-touch-icon-72x72.png}">
    <link rel="apple-touch-icon" sizes="114x114" th:href="@{img/favicons/apple-touch-icon-114x114.png}">

    <!-- ==============================================
    CSS
    =============================================== -->
    <link type="text/css" th:href="@{../assets/css/demos/custom-M.css}" rel="stylesheet" />
    <!-- ==============================================
    Feauture Detection
    =============================================== -->
    <script src="assets/js/modernizr-custom.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

<!-- ==============================================
Header Section
=============================================== -->
<section class="updateMInfo">
    <div class="container">
        <div class="banner-content banner-content-M">



            <h1><a th:href="@{/sample/main}">Pamily</a></h1>
            <form method="post" class="form-signin" th:action="@{/member/updateMInfo}" name="frm">
                <h3 class="form-signin-heading">Update Your Information</h3>
                <div class="form-group">
                    <input type="text" class="form-control border-bottom-radius" id="email" name="email" placeholder="Email(ID)" th:value="${email}">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control border-bottom-radius" id="name" name="name" placeholder="Nickname" th:value="${nickname}">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control border-bottom-radius" id="password" name="password" placeholder="Password" >
                </div>
                <div class="form-group">
                    <input type="password" class="form-control border-bottom-radius" id="check-password" name="check-password" placeholder="Check-Password">
                </div>
                <div class="form-group">
                    <input name="mobile" type="text" id="mobile" class="form-control border-bottom-radius" placeholder="Mobile" th:value="${mobile}">
                </div>
                <input type="hidden" name="mid" th:value="${mid}"/>
                <button class="kafe-btn kafe-btn-mint btn-block btn-M" id="updateBtn" type="submit" name="subm">Update</button>
                <br/>
            </form>

        </div><!--/. banner-content -->
    </div><!-- /.container -->
</section>



<!-- ==============================================
Scripts
=============================================== -->
<script type="text/javascript">
  window.onload = function(){
    const updateBtn = document.getElementById('updateBtn');
    updateBtn.addEventListener ('click', function(e) {
        e.preventDefault();
        let email = document.getElementById('email');
        let name = document.getElementById('name');
        let password = document.getElementById('password');
        let check_password = document.getElementById('check-password');
        let mobile = document.getElementById('mobile');
        let reg_email = /^([\w-]+(?:\.[\w-]+)*)@((?:[\w-]+\.)*\w[\w-]{0,66})\.([a-z]{2,6}(?:\.[a-z]{2})?)$/;
        let reg_pw = /^[a-z0-9_-]{6,18}$/;
        let reg_mobile = /^\d{3}-?\d{3,4}-?\d{4}$/;

         if(email.value == undefined || email.value == '') {
            alert("이메일 주소가 입력되지 않았습니다.");
            email.focus();
            return;
         } else if (!reg_email.test(email.value)) {
            alert("올바른 이메일 형식이 아닙니다.")
            email.value = "";
            email.focus();
            return;
         }
         if(name.value == undefined || name.value == '') {
            alert("사용할 닉네임을 입력해주세요.");
            name.focus();
            return;
         }
         if(!password.value == '') {
              if (!reg_pw.test(password.value)){
                alert("비밀번호는 6-18 글자여야 합니다.");
                password.value = "";
                check_password.value = "";
                password.focus();
                return;
              }
         }
         if(check_password.value != password.value) {
            alert("비밀번호가 일치하지 않습니다.");
            password.value = "";
            check_password.value = "";
            password.focus();
            return;
         }
         if(mobile.value == undefined || mobile.value == '') {
            alert("전화번호가 입력되지 않았습니다.");
            mobile.focus();
            return;
         }
         if(!reg_mobile.test(mobile.value)) {
            alert("휴대폰 번호를 확인해주세요.")
            mobile.focus();
            return;
         }
          document.frm.submit();
    });
  }
</script>
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<script src="assets/js/base.js"></script>

</body>
</html>
