<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{/layout/basic :: setContent(~{this::content})}">
    <th:block th:fragment="content">
        <link type="text/css" href="assets/css/demos/photo.css" rel="stylesheet" />
        <script th:src="@{/assets/js/modernizr-custom.js}"></script>
        <section class="channel-one">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-3">
                        <aside class="sidebar">
                            <ul>
                                <li class="active sideText"><a href=""><i class="fa fa-align-left"></i> BEST </a></li>
                                <li class="sideText"><a href=""><i class="fa fa-align-left"></i> IVENT </a></li>
                                <li class="sideText"><a href=""><i class="fa fa-users"></i> 인벤토리 </a></li>
                                <li class="hr"></li>
                                <li class="sideText"><a href=""><i class="fa fa-align-left"></i> 동물</a></li>
                                <li class="sideText"><a href=""><i class="fa fa-chart-bar"></i> 꾸미기 </a></li>
                                <li class="sideText"><a href=""><i class="far fa-copy"></i> 패션 잡화 </a></li>
                                <li class="sideText"><a href=""><i class="fa fa-align-left"></i> 인테리어</a></li>
                                <li class="hr"></li>
                                <li class="sideText"><a href=""><i class="fa fa-user"></i> Heart </a></li>
                                <li class="sideText"><a href=""><i class="fa fa-align-left"></i> Cart </a></li>
                            </ul>
                        </aside>
                    </div><!--/ col-lg-3 -->

                    <div class="col-lg-9">
                        <div class="row">
                            <div class="col-md-3 col-sm-6 col-xs-12 modal-btn">
                                <div class="photo-rounded-fluffs">
                                    <a href="#">
                                        <img class="img-responsive" th:src="@{/assets/img/fluffs/1.jpg}" alt="Image">
                                        <h1 class="text-center"> 푸들 </h1>
                                    </a>
                                </div>
                            </div>

                            <div class="col-md-3 col-sm-6 col-xs-12 modal-btn">
                                <div class="photo-rounded-fluffs">
                                    <a href="#">
                                        <img class="img-responsive" th:src="@{/assets/img/fluffs/2.jpg}" alt="Image">
                                        <h1 class="text-center"> 까마귀 </h1>
                                    </a>
                                </div>
                            </div>

                            <div class="col-md-3 col-sm-6 col-xs-12 modal-btn">
                                <div class="photo-rounded-fluffs">
                                    <a href="#">
                                        <img class="img-responsive" th:src="@{/assets/img/fluffs/3.jpg}" alt="Image">
                                        <h1 class="text-center"> 햄스터 </h1>
                                    </a>
                                </div>
                            </div>

                            <div class="col-md-3 col-sm-6 col-xs-12 modal-btn">
                                <div class="photo-rounded-fluffs">
                                    <a href="#">
                                        <img class="img-responsive" th:src="@{/assets/img/fluffs/4.jpg}" alt="Image">
                                        <h1 class="text-center"> 샴고양이 </h1>
                                    </a>
                                </div>
                            </div>

                        </div><!--/ row -->

                        <div class="row">

                            <div class="col-md-3 col-sm-6 col-xs-12 modal-btn">
                                <div class="photo-rounded-fluffs">
                                    <a href="#">
                                        <img class="img-responsive" th:src="@{/assets/img/fluffs/5.jpg}" alt="Image">
                                        <h1 class="text-center"> 호랑이 </h1>
                                    </a>
                                </div>
                            </div>

                            <div class="col-md-3 col-sm-6 col-xs-12 modal-btn">
                                <div class="photo-rounded-fluffs">
                                    <a href="#">
                                        <img class="img-responsive" th:src="@{/assets/img/fluffs/6.jpg}" alt="Image">
                                        <h1 class="text-center"> 병아리 </h1>
                                    </a>
                                </div>
                            </div>

                            <div class="col-md-3 col-sm-6 col-xs-12 modal-btn">
                                <div class="photo-rounded-fluffs">
                                    <a href="#">
                                        <img class="img-responsive" th:src="@{/assets/img/fluffs/7.jpg}" alt="Image">
                                        <h1 class="text-center"> 뱀 </h1>
                                    </a>
                                </div>
                            </div>

                            <div class="col-md-3 col-sm-6 col-xs-12 modal-btn">
                                <div class="photo-rounded-fluffs">
                                    <a href="#">
                                        <img class="img-responsive" th:src="@{/assets/img/fluffs/11.jpg}" alt="Image">
                                        <h1 class="text-center"> 코끼리 </h1>
                                    </a>
                                </div>
                            </div>

                        </div><!--/ row -->

                        <div class="row">

                            <div class="col-md-3 col-sm-6 col-xs-12 modal-btn">
                                <div class="photo-rounded-fluffs">
                                    <a href="#">
                                        <img class="img-responsive" th:src="@{/assets/img/fluffs/8.jpg}" alt="Image">
                                        <h1 class="text-center"> 여우 </h1>
                                    </a>
                                </div>
                            </div>

                            <div class="col-md-3 col-sm-6 col-xs-12 modal-btn">
                                <div class="photo-rounded-fluffs">
                                    <a href="#">
                                        <img class="img-responsive" th:src="@{/assets/img/fluffs/9.jpg}" alt="Image">
                                        <h1 class="text-center"> 토끼 </h1>
                                    </a>
                                </div>
                            </div>

                            <div class="col-md-3 col-sm-6 col-xs-12 modal-btn">
                                <div class="photo-rounded-fluffs">
                                    <a href="#">
                                        <img class="img-responsive" th:src="@{/assets/img/fluffs/10.jpg}" alt="Image">
                                        <h1 class="text-center"> 얼룩 고양이 </h1>
                                    </a>
                                </div>
                            </div>

                            <div class="col-md-3 col-sm-6 col-xs-12 modal-btn">
                                <div class="photo-rounded-fluffs">
                                    <a href="#">
                                        <img class="img-responsive" th:src="@{/assets/img/fluffs/12.jpg}" alt="Image">
                                        <h1 class="text-center"> 갈색 토끼 </h1>
                                    </a>
                                </div>
                            </div>
                        </div><!--/ row -->
                    </div><!--/ col-lg-9 -->
                </div><!--/ row -->
            </div><!--/ container -->
        </section><!--/ newsfeed -->
        <section class="single-post">
            <div class="container item-modal modal">
                <div class="row">

                    <div class="modal-dialog">
                        <div class="modal-content item-modal-box">
                            <div class="">

                                <div class="col-md-4 modal-meta item-close">
                                    <div class="modal-meta-top">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                            <span aria-hidden="true">×</span><span class="sr-only">Close</span>
                                        </button><!--/ button -->
                                    </div>
                                </div>
                                <div class="row">

                                    <div class="col-md-8 modal-image-item">
                                        <img class="item-img" th:src="@{/assets/img/posts/15.jpg}" alt="Image"/>
                                    </div><!--/ col-md-8 -->
                                    <div class="col-md-4 modal-meta item-text-box">
                                        <div class="item-detail">
                                            <button class="follow-box kafe-btn kafe-btn-mint pull-right get-btn"><i class="fa fa-check"></i> 입양 하기 </button>
                                            <div class="item-name">푸들</div>
                                            <hr>
                                            <div style="height:160px;"><span style="font-size:16pt;">어쩌구 저쩌구 귀여운 설명 주저리주저리 데려가세요</span></div>
                                            <div class="btn-box">
                                                <button class="kafe-btn kafe-btn-mint btn-auto" type="button" name="button" id="heartBtn">찜하기</button>
                                                <button class="kafe-btn kafe-btn-mint btn-auto" type="button" name="button" id="cartBtn">장바구니</button>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="item-detail-row">
                                        <div class="col-md-3 col-sm-6 col-xs-12">
                                            <div class="photo-rounded-fluffs item-detail">
                                                <a th:href="@{/sample/itempay}">
                                                    <img class="img-responsive" th:src="@{/assets/img/fluffs/1.jpg}" alt="Image">
                                                    <div class="explore-top item-top-margin">
                                                        <span class="explore-like"><i class="fa fa-heart"></i></span>
                                                        <span class="text-center"> 갈색푸들 </span>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>

                                        <div class="col-md-3 col-sm-6 col-xs-12">
                                            <div class="photo-rounded-fluffs item-detail">
                                                <a href="#">
                                                    <img class="img-responsive" th:src="@{/assets/img/fluffs/2.jpg}" alt="Image">
                                                    <div class="explore-top item-top-margin">
                                                        <span class="explore-like"><i class="fa fa-heart"></i></span>
                                                        <span class="text-center"> 까마귀 </span>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>

                                        <div class="col-md-3 col-sm-6 col-xs-12">
                                            <div class="photo-rounded-fluffs item-detail">
                                                <a href="#">
                                                    <img class="img-responsive" th:src="@{/assets/img/fluffs/3.jpg}" alt="Image">
                                                    <div class="explore-top item-top-margin">
                                                        <span class="explore-like"><i class="fa fa-heart"></i></span>
                                                        <span class="text-center"> 햄스터 </span>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>

                                        <div class="col-md-3 col-sm-6 col-xs-12">
                                            <div class="photo-rounded-fluffs item-detail">
                                                <a href="#">
                                                    <img class="img-responsive" th:src="@{/assets/img/fluffs/4.jpg}" alt="Image">
                                                    <div class="explore-top item-top-margin">
                                                        <span class="explore-like"><i class="fa fa-heart"></i></span>
                                                        <span class="text-center"> 샴고양이 </span>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                    </div><!--/ row -->
                                </div><!--/ row -->
                            </div><!--/ modal-body -->
                        </div><!--/ modal-content -->
                    </div><!--/ modal-dialog -->

                </div><!--/ modal-dialog -->
            </div><!--/ modal-dialog -->
        </section><!--/ modal -->

        <div class="getModal modal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content itemgetYN">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>

                    <div class="modal-body-item">
                        <h2 class="modal-title">구매하시겠습니까?</h2>
                        <button class="kafe-btn kafe-btn-mint btn-margin" type="button" name="button">구매</button>
                        <button class="kafe-btn kafe-btn-mint btn-margin" type="button" name="button">취소</button>
                    </div>
                </div>
            </div>
        </div>



        <!-- ==============================================
        Scripts
        =============================================== -->
        <script th:src="@{/assets/js/jquery.min.js}"></script>
        <script th:src="@{/assets/js/bootstrap.min.js}"></script>
        <script th:src="@{/assets/js/base.js}"></script>
        <script th:src="@{/assets/plugins/slimscroll/jquery.slimscroll.js}"></script>
        <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.2.0/css/font-awesome.min.css">
        <script th:inline="javascript">
            $('#Slim,#Slim2').slimScroll({
                height:"auto",
                position: 'right',
                railVisible: true,
                alwaysVisible: true,
                size:"8px",
            });
            $(document).ready(function(){

                var itemmodal = $(".item-modal");

                $(".modal-btn").click(function() {
                    itemmodal.modal('show');
                });
                $(".get-btn").click(function(){
                    $(".getModal").modal('show');
                });

            });

        </script>

    </th:block>
</th:block>