<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{/layout/basic :: setContent(~{this::content})}">
    <th:block th:fragment="content">
        <link type="text/css" th:href="@{/assets/css/demos/interest.css}" rel="stylesheet"/>
        <section class="profile">
            <div class="container-fluid">
                <div class="row">

                    <div class="col-lg-1">
                    </div>
                    <div class="col-lg-10">
                        <div class="profilebox-large hidden-xs hidden-sm "
                             style="background: linear-gradient( rgba(34,34,34,0.45), rgba(34,34,34,0.45)), th:url('@{/assets/img/posts/9.jpg}') no-repeat;
		          background-size: cover;
                  background-position: center center;
                  -webkit-background-size: cover;
                  -moz-background-size: cover;
                  -o-background-size: cover; overflow:hidden;">
                            <img th:src="|/pamily/display?fileName=${imageResult[0].getThumbnailURL()}|" style="overflow:hidden; width:100%; height:100%;" >

                        </div>
                    </div>
                    <div class="col-lg-1">
                    </div>

                </div><!--/ row-->
            </div><!--/ container -->
        </section><!--/ profile -->

        <!-- ==============================================
        User Profile Section
        =============================================== -->
        <section class="user-profile">
            <div class="container-fluid">
                <div class="row">

                    <div class="col-lg-12">
                        <div class="post-content">
                            <div class="author-post text-center">
                                <a href="#"><img class="img-fluid img-circle" th:src="@{/assets/img/users/17.jpeg}"
                                                 alt="Image"></a>
                            </div><!-- /author -->
                        </div><!-- /.post-content -->
                    </div><!-- /col-sm-12 -->

                </div><!--/ row-->
            </div><!--/ container -->
        </section><!--/ profile -->

        <!-- ==============================================
        User Profile Section
        =============================================== -->
        <section class="details">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">

                        <div class="details-box row">
                            <div class="col-lg-9">
                                <div class="content-box">
                                    <h4>Anna Morgan <i class="fa fa-check"></i></h4>
                                    <p>Welcome to the offical account of Anna Morgan. Success is in the PIXELS, <span
                                            class="hashtag">#pixels</span></p>
                                    <small><span>www.themashabrand.com</span></small>
                                </div><!--/ media -->
                            </div>
                            <div class="col-lg-3">
                                <div class="profileModify">
                                    <a th:href="@{/sample/profileModify}" class="kafe-btn kafe-btn-mint"><i class="fa fa-check"></i> 프로필 이미지 수정</a>
                                </div><!--/ dropdown -->
                            </div>
                        </div><!--/ details-box -->

                    </div>
                </div>
            </div><!--/ container -->
        </section><!--/ profile -->

        <!-- ==============================================
        Home Menu Section
        =============================================== -->
        <section class="home-menu">
            <div class="container">
                <div class="row">

                    <div class="menu-category">
                        <ul class="menu">
                            <li class="current-menu-item"><a href="photo_profile.html">Posts <span>1.7k</span></a></li>
                            <li><a href="photo_followers.html">Followers <span>1.3M</span></a></li>
                            <li><a href="photo_followers.html">Following <span>1200</span></a></li>
                        </ul>
                    </div>

                </div><!--/row -->
            </div><!--/container -->
        </section><!--/home-menu -->

        <!-- ==============================================
        News Feed Section
        =============================================== -->
        <section class="newsfeed">
            <div class="container">

                <div class="row">

                    <div class="col-lg-4" th:each="dto : ${msg}" style="overflow: hidden;">
                        <a href="#myModal" th:onclick="javascript:showModal([[${dto.imageDTOList[0].thumbnailURL}]])" data-toggle="modal">
                            <div class="explorebox"
                                 style="background: linear-gradient( rgba(34,34,34,0.2), rgba(34,34,34,0.2)), no-repeat;
					  background-size: cover;
					  background-position: center center;
					  -webkit-background-size: cover;
					  -moz-background-size: cover;
					  -o-background-size: cover;">

                                <img th:if="${dto.imageDTOList.size() > 0 && dto.imageDTOList[0].path != null }"
                                     th:src="|/pamily/display?fileName=${dto.imageDTOList[0].getThumbnailURL()}|" class="explorebox"
                                     style="overflow: hidden; position: absolute; z-index=1" >

                                <div class="explore-top" style="position:absolute; z-index:2;">
                                    <div class="explore-like"><i class="fa fa-heart"></i> <span>624</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>

                </div><!--/ row -->

            </div><!--/ container -->
        </section><!--/ newsfeed -->

        <!-- ==============================================
        Modal Section
        =============================================== -->
        <div id="myModal" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-body">

                        <div class="row">

                            <div class="col-md-8 modal-image">
                                <img class="img-responsive" th:src="@{/assets/img/posts/15.jpg}" alt="Image"/>
                            </div><!--/ col-md-8 -->
                            <div class="col-md-4 modal-meta">
                                <div class="modal-meta-top">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                        <span aria-hidden="true">×</span><span class="sr-only">Close</span>
                                    </button><!--/ button -->
                                    <div class="img-poster clearfix">
                                        <a href=""><img class="img-responsive img-circle" th:src="@{/assets/img/users/18.jpg}"
                                                        alt="Image"/></a>
                                        <strong><a href="">Benjamin</a></strong>
                                        <span>12 minutes ago</span><br/>
                                        <a href="" class="kafe kafe-btn-mint-small"><i class="fa fa-check-square"></i>
                                            Following</a>
                                    </div><!--/ img-poster -->

                                    <ul class="img-comment-list">
                                        <li>
                                            <div class="comment-img">
                                                <img th:src="@{/assets/img/users/17.jpeg}" class="img-responsive img-circle"
                                                     alt="Image"/>
                                            </div>
                                            <div class="comment-text">
                                                <strong><a href="">Anthony McCartney</a></strong>
                                                <p>Hello this is a test comment.</p> <span class="date sub-text">on December 5th, 2016</span>
                                            </div>
                                        </li><!--/ li -->
                                        <li>
                                            <div class="comment-img">
                                                <img th:src="@{/assets/img/users/15.jpg}" class="img-responsive img-circle"
                                                     alt="Image"/>
                                            </div>
                                            <div class="comment-text">
                                                <strong><a href="">Vanessa Wells</a></strong>
                                                <p>Hello this is a test comment and this comment is particularly very
                                                    long and it goes on and on and on.</p>
                                                <span>on December 5th, 2016</span>
                                            </div>
                                        </li><!--/ li -->
                                        <li>
                                            <div class="comment-img">
                                                <img th:src="@{/assets/img/users/14.jpg}" class="img-responsive img-circle"
                                                     alt="Image"/>
                                            </div>
                                            <div class="comment-text">
                                                <strong><a href="">Sean Coleman</a></strong>
                                                <p class="">Hello this is a test comment.</p> <span
                                                    class="date sub-text">on December 5th, 2016</span>
                                            </div>
                                        </li><!--/ li -->
                                        <li>
                                            <div class="comment-img">
                                                <img th:src="@{/assets/img/users/13.jpeg}" class="img-responsive img-circle"
                                                     alt="Image"/>
                                            </div>
                                            <div class="comment-text">
                                                <strong><a href="">Anna Morgan</a></strong>
                                                <p class="">Hello this is a test comment.</p> <span
                                                    class="date sub-text">on December 5th, 2016</span>
                                            </div>
                                        </li><!--/ li -->
                                        <li>
                                            <div class="comment-img">
                                                <img th:src="@{/assets/img/users/3.jpg}" class="img-responsive img-circle"
                                                     alt="Image"/>
                                            </div>
                                            <div class="comment-text">
                                                <strong><a href="">Allison Fowler</a></strong>
                                                <p class="">Hello this is a test comment.</p> <span
                                                    class="date sub-text">on December 5th, 2016</span>
                                            </div>
                                        </li><!--/ li -->
                                    </ul><!--/ comment-list -->

                                    <div class="modal-meta-bottom">
                                        <ul>
                                            <li><a class="modal-like" href="#"><i class="fa fa-heart"></i></a><span
                                                    class="modal-one"> 786,286</span> |
                                                <a class="modal-comment" href="#"><i
                                                        class="fa fa-comments"></i></a><span> 786,286</span></li>
                                            <li>
			   <span class="thumb-xs">
				<img class="img-responsive img-circle" th:src="@{/assets/img/users/13.jpeg}" alt="...">
			   </span>
                                                <div class="comment-body">
                                                    <input class="form-control input-sm" type="text"
                                                           placeholder="Write your comment...">
                                                </div><!--/ comment-body -->
                                            </li>
                                        </ul>
                                    </div><!--/ modal-meta-bottom -->

                                </div><!--/ modal-meta-top -->
                            </div><!--/ col-md-4 -->

                        </div><!--/ row -->
                    </div><!--/ modal-body -->

                </div><!--/ modal-content -->
            </div><!--/ modal-dialog -->
        </div><!--/ modal -->

        <!-- ==============================================
        Scripts
        =============================================== -->
        <script th:inline="javascript">
            function showModal(str){
                console.log(str)
                $('#myModal img').attr('src' , '/pamily/display?fileName='+ str)
            }

            var msg = [[${msg}]];
            console.log(msg)

            var imageResult = [[${imageResult[0].getThumbnailURL()}]];
            console.log(imageResult)

        </script>
    </th:block>
</th:block>