<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<th:block th:replace="~{/layout/basic :: setContent(~{this::content})}">
    <th:block th:fragment="content">
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"
                integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
        <section class="profile">
            <div class="container-fluid">
                <div class="row">
                    <form th:action="@{/sample/profileModify}" th:method="post">
                        <div class="box">

                        </div>
                        <div class="col-lg-1">
                        </div>
                        <div class="col-lg-10">
                            <div class="profilebox-large hidden-xs hidden-sm backImageResult backImageResult"
                                 style="background: linear-gradient( rgba(34,34,34,0.45), rgba(34,34,34,0.45)),
		          background-size: cover;
                  background-position: center center;
                  -webkit-background-size: cover;
                  -moz-background-size: cover;
                  -o-background-size: cover; overflow:hidden">

                            </div>
                        </div>
                        <div class="col-lg-1">
                        </div>
                    </form>
                </div><!--/ row-->
            </div><!--/ container -->
        </section><!--/ profile -->

        <!-- ==============================================
        User Profile Section
        =============================================== -->
        <section class="user-profile">
            <div class="container-fluid">
                <div class="row">

                    <div class="col-lg-12">
                        <div class="post-content">
                            <div class="author-post text-center profileImageResult" style="overflow:hidden;">

                                <!--                                <a href="#"><img class="img-fluid img-circle" th:src="@{/assets/img/users/13.jpeg}"-->
                                <!--                                                 alt="Image"></a>-->
                            </div><!-- /author -->
                        </div><!-- /.post-content -->
                    </div><!-- /col-sm-12 -->

                </div><!--/ row-->
            </div><!--/ container -->
        </section><!--/ profile -->

        <!-- ==============================================
        User Profile Section
        =============================================== -->
        <section class="details">
            <div class="container">
                <div class="row">
                    <label for="fileInput">
                        <i class="fa fa-check"
                           style="background-color:white; border:0; outline:0; cursor: pointer;"> 배경이미지 변경
                        </i>
                    </label>
                    <input name="backgroundImage" class="custom-file-input files" id="fileInput"
                           type="file" multiple style="display:none">

                    <label for="profileFileInput" style="margin-left: 10px;">
                        <i class="fa fa-check"
                           style="background-color:white; border:0; outline:0; cursor: pointer;"> 프로필이미지 변경
                        </i>
                    </label>
                    <input name="backgroundImage" class="custom-profileFile-input files" id="profileFileInput"
                           type="file" multiple style="display:none">

                    <div class="" style="float: right;">
                        <div class="profileModify">
                            <button class="kafe-btn kafe-btn-mint uploadBtn btn-primary" id="uploadImgBtn">저장하기</button>
                        </div><!--/ dropdown -->
                    </div>


                </div>
            </div>
            </div><!--/ container -->
        </section><!--/ profile -->
        <style>
            .uploadResult { width: 100%;background:gray;margin-top:10px; position: fixed; bottom:0;}
            .uploadResult ul {
                display:flex;flex-flow:row;justify-content:center;
                align-items:center;vertical-align:top;overflow:auto;
            }
            .uploadResult ul li{ list-style:none;padding:10px;margin-left:2em;}
            .uploadResult ul li img{ width:100px;}


        </style>
        <div>
            <span></span><br>
            <span></span><br>
            <span></span><br>
            <span></span><br>
            <span></span><br>
            <span></span><br>
            <span></span><br>
            <span></span><br>
        </div>

        <div class="uploadResult">
            <ul>
            </ul>
        </div>

        <!-- ==============================================
        Scripts
        =============================================== -->
        <script th:inline="javascript">
            $(document).ready(function(e){

                var msg = [[${msg}]];
                console.log(msg);

                var regex = new RegExp("(.*?)\.(exe|sh|zip|alz|tiff)$");
                var maxSize = 10485760;

                function checkExtension(fileName, fileSize){
                    if(fileSize >= maxSize){
                        alert("파일 사이즈 초과");
                        return false;
                    }
                    if(regex.test(fileName)){
                        alert("해당 파일은 업로드 할 수 없습니다.");
                        return false;
                    }
                    return true;
                }

                function showImage(arr){
                    console.log("arr: " + arr);
                    var divArea = $(".backImageResult");
                    for(var i = 0; i< arr.length; i++){
                        divArea.append("<img src='/pamily/display?fileName="+arr[i].thumbnailURL+"' style='width:100%; height:100%; ' >");
                    }
                }

                function showProfileImage(arr){
                    console.log("arr: " + arr);
                    var divArea = $(".profileImageResult");
                    for(var i = 0; i< arr.length; i++){
                        divArea.append("<img src='/pamily/display?fileName="+arr[i].thumbnailURL+"' style='width:200px; height:200px;' class='img-fluid img-circle' >");
                    }
                }

                function showResult(uploadResultArr){
                    var uploadUL = $(".uploadResult ul");
                    var str = "";
                    $(uploadResultArr).each(function(i,obj){
                        str += "<li data-name='" + obj.fileName + "' data-path='"
                            + obj.folderPath + "' data-uuid='"+obj.uuid+"'>";
                        str += "<div>";
                        str += "<button type='button' data-file='" + obj.imageURL
                            + "\' class='btn-warning btn-sm'>X</button><br>";
                        str += "<img src='/pamily/display?fileName="+obj.thumbnailURL+"'>";
                        str += "</div>";
                        str += "</li>";
                    });
                    uploadUL.append(str);
                }
                $(".custom-file-input").on("change", function(){
                    var fileName = $(this).val().split("\\").pop();
                    $(this).siblings(".custom-file-label")
                        .addClass("selected").html(fileName);
                    var formData = new FormData();
                    var inputFile = $(this);
                    var files = inputFile[0].files;
                    var append = false;
                    for(var i=0;i<files.length;i++){
                        if(!checkExtension(files[i].name, files[i].size)) return false;
                        console.log(files[i]);
                        formData.append("uploadFiles", files[i]);
                        append = true;
                    }
                    if(!append) return;
                    for(var value of formData.values()) {
                        console.log(value);
                    }
                    $.ajax({
                        url: '/pamily/uploadAjax',
                        processData: false,
                        contentType: false,
                        data: formData,
                        type:'POST',
                        dataType: 'json',
                        success: function(result){
                            console.log("result: " + result);
                            showResult(result);
                            showImage(result);

                        },
                        error: function(jqXHR, textStatus, errorThrown){
                            console.log(textStatus);
                        }
                    });

                    $('.uploadResult').on('click','li button',function(e){
                        console.log("delete file");
                        var targetFile = $(this).data("file");
                        var targetLi = $(this).closest("li");
                        var targetUuid = targetLi.attr('data-uuid');
                        console.log(targetUuid);

                        $.ajax({
                            url: '/pamily/removeFile',
                            data: {fileName: targetFile},
                            dataType: 'text',
                            type: 'POST',
                            success: function(result){
                                targetLi.remove();
                                $('.'+ targetUuid).remove();
                            }
                        });
                    });
                });

                $(".custom-profileFile-input").on("change", function(){
                    var fileName = $(this).val().split("\\").pop();
                    $(this).siblings(".custom-file-label")
                        .addClass("selected").html(fileName);
                    var formData = new FormData();
                    var inputFile = $(this);
                    var files = inputFile[0].files;
                    var append = false;
                    for(var i=0;i<files.length;i++){
                        if(!checkExtension(files[i].name, files[i].size)) return false;
                        console.log(files[i]);
                        formData.append("uploadFiles", files[i]);
                        append = true;
                    }
                    if(!append) return;
                    for(var value of formData.values()) {
                        console.log(value);
                    }
                    $.ajax({
                        url: '/pamily/uploadAjax',
                        processData: false,
                        contentType: false,
                        data: formData,
                        type:'POST',
                        dataType: 'json',
                        success: function(result){
                            console.log("result: " + result);
                            showResult(result);
                            showProfileImage(result);

                        },
                        error: function(jqXHR, textStatus, errorThrown){
                            console.log(textStatus);
                        }
                    });

                    $('.uploadResult').on('click','li button',function(e){
                        console.log("delete file");
                        var targetFile = $(this).data("file");
                        var targetLi = $(this).closest("li");
                        var targetUuid = targetLi.attr('data-uuid');
                        console.log(targetUuid);

                        $.ajax({
                            url: '/pamily/removeFile',
                            data: {fileName: targetFile},
                            dataType: 'text',
                            type: 'POST',
                            success: function(result){
                                targetLi.remove();
                                $('.'+ targetUuid).remove();
                            }
                        });
                    });
                });

                $("#uploadImgBtn").on("click", function(e){
                    e.preventDefault();
                    var str = "";
                    $(".uploadResult li").each(function(i, obj){
                        var target = $(obj);
                        str += "<input type='hidden' name='profileImageDTOList[" + i
                            + "].imgName' value='" + target.data('name') + "'>";
                        str += "<input type='hidden' name='profileImageDTOList[" + i
                            + "].path' value='" + target.data('path') + "'>";
                        str += "<input type='hidden' name='profileImageDTOList[" + i
                            + "].uuid' value='" + target.data('uuid') + "'>";
                    });
                    $(".box").html(str);
                    $("form").submit();
                });
            });
        </script>
    </th:block>
</th:block>