<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{/layout/basic :: setContent(~{this::content})}">
    <th:block th:fragment="content">
        <link type="text/css" th:href="@{/assets/css/demos/photo.css}" rel="stylesheet"/>
        <link type="text/css" th:href="@{/assets/css/demos/interest.css}" rel="stylesheet"/>
        <link type="text/css" th:href="@{/assets/css/skins/skin_two.css}" rel="stylesheet"/>
        <link type="text/css" th:href="@{/assets/css/demos/shop.css}" rel="stylesheet"/>
        <style>
            th {
                text-align:center;
            }
            .tr-list{
                cursor: pointer;
            }
            .tr-list:hover {
                background: #c2d2ff;
            }
            .cateBtn{
                border:none;
                background-color: #ffffff;
            }
            .cateBtn:focus, .cateBtn:hover{
                outline: none;
                box-shadow: none;
            }

        </style>
        <section class="channel-one">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-3">
                        <aside class="sidebar">
                            <ul>
                                <li class="sideText ctg" \>
                                    <form action="/pamily/shop/shop" method="get" id="cateForm1">
                                        <button class="cateBtn1 kafe-btn shop-btn-mint shopcateBtn teacherColor"> 분 양 </button>
                                        <div class="box1" style="display:hidden;"></div>
                                    </form>
                                </li>

                                <li class="sideText ctg" \>
                                    <form action="/pamily/shop/shop" method="get" id="cateForm2">
                                        <button class="cateBtn2 kafe-btn shop-btn-mint shopcateBtn teacherColor" value="2"> 입 양 </button>
                                        <div class="box2" style="display:hidden;"></div>
                                    </form>
                                </li>

                                <li class="sideText ctg" \>
                                    <form action="/pamily/shop/shop" method="get" id="cateForm3">
                                        <button class="cateBtn3 kafe-btn shop-btn-mint shopcateBtn teacherColor" value="3"> 동물찾기 </button>
                                        <div class="box3" style="display:hidden;"></div>
                                    </form>
                                </li>

                                <li class="sideText ctg" \>
                                    <form action="/pamily/shop/shop" method="get" id="cateForm4">
                                        <button class="cateBtn4 kafe-btn shop-btn-mint shopcateBtn teacherColor" value="4"> 공동구매 </button>
                                        <div class="box4" style="display:hidden;"></div>
                                    </form>
                                </li>

                                <li class="sideText ctg" \>
                                    <form action="/pamily/shop/shop" method="get" id="cateForm5">
                                        <button class="cateBtn5 kafe-btn shop-btn-mint shopcateBtn teacherColor" value="5"> 기 타 </button>
                                        <div class="box5" style="display:hidden;"></div>
                                    </form>
                                </li>
                            </ul>
                        </aside>
                    </div><!--/ col-lg-3 -->

                    <h1 class="mt-4">Pamily Mart
                    </h1>
                    <div class="col-lg-9">
                        <!--        검색 창-->
                        <form th:action="@{/shop/modify}" th:method="post">
                            <!--            페이지 번호 유지용-->
                            <input type="hidden" name="page" th:value="${requestDTO.page}">
                            <input type="hidden" name="type" th:value="${requestDTO.type}">
                            <input type="hidden" name="keyword" th:value="${requestDTO.keyword}">
                            <input type="hidden" name="sid" th:value="${dto.sid}">
                            <div class="bbox" style="display:hidden;">
                            </div>
                            <div class="form-group">
                                <label>닉네임</label>
                                <input type="text" class="form-control" name="name"
                                       th:value="${dto.name}" readonly>
                            </div>
                            <div class="form-group">
                                <label>카테고리</label>
                                <select class="form-control" name="scno" id="cateSelected">
                                    <option th:selected="${dto.cateName} == ${cate.cateName}" th:each=" cate : ${category}" th:value="${cate.scno}" th:text="${cate.cateName}">
                                    </option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label>제목</label>
                                <input type="text" class="form-control" name="title"
                                       th:value="${dto.title}" >
                            </div>
                            <div class="form-inline">
                                <label for="exampleInputFile">파일 업로드</label>
                                <input type="file" id="exampleInputFile"  class="custom-file-input files" style="margin-bottom:10px;">
                                <label>등록 일자</label>
                                <input type="text" class="form-control"  readonly
                                       th:value="${#temporals.format(dto.regDate,'yyyy/MM/dd HH:mm:ss')}">
                                <label>수정 일자</label>
                                <input type="text" class="form-control" readonly
                                       th:value="${#temporals.format(dto.modDate,'yyyy/MM/dd HH:mm:ss')}">
                            </div>
                            <div class="form-group" style="margin-top:10px;">
                                <label>내용</label>
                                <div class="uploadResult">
                                    <ul>
                                        <li th:each="dto: ${dto.shopImageDTOList}"
                                            th:if="${dto.path != null}"
                                            th:data-name="${dto.imgName}"
                                            th:data-path="${dto.path}"
                                            th:data-file="${dto.getImageURL()}"
                                            th:data-uuid="${dto.uuid}">
                                            <div>
                                                <button type="button"
                                                        th:data-file="${dto.getImageURL()}"
                                                        class="btn-warning btn-sm">X</button>
                                                <br>
                                                <img
                                                        th:if="${dto.path != null}"
                                                        th:src="|/pamily/display?fileName=${dto.getImageURL()}|" style='width:320px; height:320px;'>
                                            </div>

                                        </li>
                                    </ul>
                                </div>
                                <textarea class="form-control" name="content"
                                          rows="20">[[${dto.content}]]</textarea>
                            </div>
                            <div class="box"></div>
                        </form>
                        <div style="margin-bottom: 20px;"></div>

                        <div>
                            <a th:href="@{/shop/shop(page=${requestDTO.page},type=${requestDTO.type},keyword=${requestDTO.keyword},scno=${requestDTO.scno})}">
                                <button class="btn btn-info">목록보기</button>
                            </a>
                                <button type="submit" data-oper="modify"  class="btn modifyBtn btn-warning">수정하기</button>
                        </div>
                        <!--        페이지 목록 출력-->
                        <div style="margin-bottom: 20px;"></div>
                    </div>
                </div><!--/ row -->
            </div><!--/ container -->
        </section><!--/ newsfeed -->
        <!--모달 창-->


        <!-- ==============================================
        Scripts
        =============================================== -->
        <script th:src="@{/assets/js/jquery.min.js}"></script>
        <script th:src="@{/assets/js/bootstrap.min.js}"></script>
        <script th:src="@{/assets/js/base.js}"></script>
        <script th:src="@{/assets/plugins/slimscroll/jquery.slimscroll.js}"></script>
        <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.2.0/css/font-awesome.min.css">
        <script th:inline="javascript">
            $('#Slim,#Slim2').slimScroll({
                height:"auto",
                position: 'right',
                railVisible: true,
                alwaysVisible: true,
                size:"8px",
            });

            var actionForm = $("form");

            $(".modifyBtn").click(function(e){
                e.preventDefault();
                var operation = $(this).data("oper");
                console.log(operation);
                if(!confirm("수정하시겠습니까?")){
                return;
                }
                var cateName =  $("#cateSelected option:checked").text();

                var authMid = [[${authMid}]];

                console.log("선택된 카테고리: "+cateName);
                console.log(authMid);


                var str = "";

                $(".uploadResult li").each(function(i, obj){
                        var target = $(obj);
                        console.log(target);
                        str += "<input type='hidden' name='shopImageDTOList[" + i
                            + "].imgName' value='" + target.data('name') + "'>";
                        str += "<input type='hidden' name='shopImageDTOList[" + i
                            + "].path' value='" + target.data('path') + "'>";
                        str += "<input type='hidden' name='shopImageDTOList[" + i
                            + "].uuid' value='" + target.data('uuid') + "'>";
                    });
                $(".box").html(str);
                var str2 = "";
                str2 += "<input type='hidden' name='cateName' value='"+cateName+"'>";
                str2 += "<input type='hidden' name='mid' value='"+authMid+"'>";
                $(".bbox").html(str2);

                var data1 = actionForm.serializeArray();
                console.log(data1);

                $("form").submit();
            }); //end modify

            $('.uploadResult').on('click','li button',function(e){
                        console.log("delete file");
                        var targetFile = $(this).data("file");
                        var targetLi = $(this).closest("li");
                        var targetUuid = targetLi.attr('data-uuid');
                        console.log(targetUuid);

                        $.ajax({
                            url: '/pamily/shopRemoveFile',
                            data: {fileName: targetFile},
                            dataType: 'text',
                            type: 'POST',
                            success: function(result){
                                targetLi.remove();
                                $('.'+ targetUuid).remove();
                            }
                        });
                    }); // end remove image button event

            $(document).ready(function(){
                var regex = new RegExp("(.*?)\.(exe|sh|zip|alz|tiff)$");
                var maxSize = 10485760;

                function checkExtension(fileName, fileSize){
                    if(fileSize >= maxSize){
                        alert("파일 사이즈 초과");
                        return false;
                    }
                    if(regex.test(fileName)){
                        alert("해당 파일은 업로드 할 수 없습니다.");
                        return false;
                    }
                    return true;
                } // end function checkExtension

                function showResult(uploadResultArr){
                    var uploadUL = $(".uploadResult ul");
                    var str = "";
                    $(uploadResultArr).each(function(i,obj){
                        str += "<li data-name='" + obj.fileName + "' data-path='"
                            + obj.folderPath + "' data-uuid='"+obj.uuid+"'>";
                        str += "<div>";
                        str += "<button type='button' data-file='" + obj.imageURL
                            + "\' class='btn-warning btn-sm'>X</button><br>";
                        str += "<img src='/pamily/shopDisplay?fileName="+obj.imageURL+"' style='width:320px; height:320px;'>";
                        str += "</div>";
                        str += "</li>";
                    });
                    uploadUL.append(str);
                } // end function showResult

                $(".custom-file-input").on("change", function(){
                    var fileName = $(this).val().split("\\").pop();
                    $(this).siblings(".custom-file-label")
                        .addClass("selected").html(fileName);
                    var formData = new FormData();
                    var inputFile = $(this);
                    var files = inputFile[0].files;
                    var append = false;
                    for(var i=0;i<files.length;i++){
                        if(!checkExtension(files[i].name, files[i].size)) return false;
                        console.log(files[i]);
                        formData.append("uploadFiles", files[i]);
                        append = true;
                    }
                    if(!append) return;
                    for(var value of formData.values()) {
                        console.log(value);
                    }
                    $.ajax({
                        url: '/pamily/shopUploadAjax',
                        processData: false,
                        contentType: false,
                        data: formData,
                        type:'POST',
                        dataType: 'json',
                        success: function(result){
                            console.log("result: " + result);
                            showResult(result);


                        },
                        error: function(jqXHR, textStatus, errorThrown){
                            console.log(textStatus);
                        }
                    });

                    $('.uploadResult').on('click','li button',function(e){
                        console.log("delete file");
                        var targetFile = $(this).data("file");
                        var targetLi = $(this).closest("li");
                        var targetUuid = targetLi.attr('data-uuid');
                        console.log(targetUuid);

                        $.ajax({
                            url: '/pamily/shopRemoveFile',
                            data: {fileName: targetFile},
                            dataType: 'text',
                            type: 'POST',
                            success: function(result){
                                targetLi.remove();
                                $('.'+ targetUuid).remove();
                            }
                        });
                    }); // end remove image button event
                }); // end custom-file-input event


                var actionForm = $("form");

                var deleteFrom = $("#delete-form");
                $(".btn-danger").click(function(){
                    if(!confirm("삭제하시겠습니까?")){
                        return;
                    }
                    deleteFrom.attr("action", "/pamily/shop/remove")
                    .attr("method", "post");
                    deleteFrom.submit();
                }); // end delete

                var dto = [[${dto}]]
                console.log(dto);

                var sid = [[${dto.sid}]];

                $('.cateBtn1').click(function(e){
                    var cateForm1 = $("#cateForm1");
                    e.preventDefault();
                    var str = "";
                    str += "<input type='hidden' name='scno' value ='1'>";
                    $('.box1').html(str);
                    var data1 = cateForm1.serializeArray();
                    console.log(data1);
                    cateForm1.submit();
                });
                $('.cateBtn2').click(function(e){
                    var cateForm2 = $("#cateForm2");
                    e.preventDefault();
                    var str = "";
                    str += "<input type='hidden' name='scno' value ='2'>";
                    $('.box2').html(str);
                    var data2 = cateForm2.serializeArray();
                    console.log(data2);
                    cateForm2.submit();
                });
                $('.cateBtn3').click(function(e){
                    var cateForm3 = $("#cateForm3");
                    e.preventDefault();
                    var str = "";
                    str += "<input type='hidden' name='scno' value ='3'>";
                    $('.box3').html(str);
                    var data3 = cateForm3.serializeArray();
                    console.log(data3);
                    cateForm3.submit();
                });
                $('.cateBtn4').click(function(e){
                    var cateForm4 = $("#cateForm4");
                    e.preventDefault();
                    var str = "";
                    str += "<input type='hidden' name='scno' value ='4'>";
                    $('.box4').html(str);
                    var data4 = cateForm4.serializeArray();
                    console.log(data4);
                    cateForm4.submit();
                });
                $('.cateBtn5').click(function(e){
                    var cateForm5 = $("#cateForm5");
                    e.preventDefault();
                    var str = "";
                    str += "<input type='hidden' name='scno' value ='5'>";
                    $('.box5').html(str);
                    var data5 = cateForm5.serializeArray();
                    console.log(data5);
                    cateForm5.submit();
                });

            }); //end document.ready
        </script>

    </th:block>
</th:block>