<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{/layout/basic :: setContent(~{this::content})}">
    <th:block th:fragment="content">
        <link type="text/css" th:href="@{/assets/css/demos/photo.css}" rel="stylesheet"/>
        <link type="text/css" th:href="@{/assets/css/demos/interest.css}" rel="stylesheet"/>
        <link type="text/css" th:href="@{/assets/css/demos/shop.css}" rel="stylesheet"/>

        <style>
            th {
                text-align:center;
            }
            .tr-list{
                cursor: pointer;
            }
            .tr-list:hover {
                background: #c2d2ff;
            }

        </style>
        <section class="channel-one">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-3">
                        <aside class="sidebar">
                            <ul>
                                <li class="sideText ctg" th:each=" cate : ${category}">
                                    <i class="fa fa-align-left"></i>
                                    <a href="" th:text="${cate.cateName}"></a>
                                <li class="hr"></li>
                                </li>
                            </ul>
                        </aside>
                    </div><!--/ col-lg-3 -->

                    <h1 class="mt-4">Pamily Mart
                    </h1>
                    <div class="col-lg-9">
                        <!--        검색 창-->
                        <form>
                            <!--            페이지 번호 유지용-->
                            <input type="hidden" name="page" th:value="${requestDTO.page}">
                            <input type="hidden" name="type" th:value="${requestDTO.type}">
                            <input type="hidden" name="keyword" th:value="${requestDTO.keyword}">
                            <input type="hidden" name="scno" th:value="${requestDTO.scno}">

                            <div class="form-group">
                                <label>닉네임</label>
                                <input type="text" class="form-control" name="name"
                                       th:value="${dto.name}" readonly>
                            </div>
                            <div class="form-group">
                                <label>카테고리</label>
                                <input type="text" class="form-control" name="cateName"
                                       th:value="${dto.cateName}" readonly>
                            </div>
                            <div class="form-group">
                                <label>제목</label>
                                <input type="text" class="form-control" name="title"
                                       th:value="${dto.title}" readonly>
                            </div>
                            <div class="form-inline">
                                <label for="exampleInputFile">파일 업로드</label>
                                <input type="file" id="exampleInputFile" disabled style="margin-bottom:10px;">
                                <label>등록 일자</label>
                                <input type="text" class="form-control" name="regDate"  readonly
                                       th:value="${#temporals.format(dto.regDate,'yyyy/MM/dd HH:mm:ss')}">
                                <label>수정 일자</label>
                                <input type="text" class="form-control" name="modDate"  readonly
                                       th:value="${#temporals.format(dto.modDate,'yyyy/MM/dd HH:mm:ss')}">
                            </div>
                            <div class="form-group" style="margin-top:10px;">
                                <label>내용</label>
                                <div class="uploadResult">
                                    <ul>
                                        <li th:each="dto: ${dto.shopImageDTOList}"
                                            th:data-file="${dto.getImageURL()}">
                                            <img th:if="${dto.path != null}"
                                                 th:src="|/pamily/display?fileName=${dto.getImageURL()}|" style='width:320px; height:320px;'>
                                        </li>
                                    </ul>
                                </div>
                                <div>[[${dto.content}]]</div>
                            </div>
                        </form>
                        <div style="margin-bottom: 20px;"></div>
                        <button type="button" class="btn btn-primary">
                            Review Count <span class="badge badge-light">[[${dto.shopReplyCnt}]]</span>
                        </button>
                        <button type="button" class="btn btn-info addReviewBtn">
                            Review Register
                        </button>
                        <div style="margin-bottom: 30px;"></div>
                        <div class="list-group reviewList">

                        </div>
                        <div>
                            <hr class="hr">
                        </div>
                        <div>
                            <a th:href="@{/shop/shop(page=${requestDTO.page},type=${requestDTO.type},keyword=${requestDTO.keyword},scno=${requestDTO.scno})}">
                                <button class="btn btn-info">목록보기</button>
                            </a>
                            <span th:if="${#authentication.principal.name} == ${dto.name}">
                                <a th:href="@{/shop/modify(sid=${dto.sid},page=${requestDTO.page},type=${requestDTO.type},keyword=${requestDTO.keyword},scno=${requestDTO.scno})}">
                                    <button class="btn btn-primary">수정하기</button>
                                </a>
                            </span>
                            <span th:if="${#authentication.principal.name} == ${dto.name} or ${#authorization.expression('hasRole(''ADMIN'')')}">
                                 <form id="delete-form" style="display:inline-block;">
                                        <input type="hidden" th:value="${dto.sid}" name="sid"/>
                                        <button class="btn btn-danger">삭제</button>
                                 </form>
                            </span>
                        </div>
                        <!--        페이지 목록 출력-->
                        <div style="margin-bottom: 20px;"></div>
                    </div>
                </div><!--/ row -->
            </div><!--/ container -->
        </section><!--/ newsfeed -->
        <!--모달 창-->
        <div class="reviewModal modal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Shop Reply</h5>
                        <button type="button" class="close btn" aria-label="Close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label>Reviewer ID</label>
                            <input type="text" class="form-control" name="mid" readonly>
                        </div>
                        <div class="form-group">
                            <label>Review Text</label>
                            <input type="text" class="form-control" name="text" placeholder="Good!">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary replyClose" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary reviewSaveBtn">Save changes</button>
                        <button type="button" class="btn btn-warning modifyBtn">Modify</button>
                        <button type="button" class="btn btn-danger removeBtn">Remove</button>

                    </div>
                </div>
            </div>
        </div>

        <!-- ==============================================
        Scripts
        =============================================== -->
        <script th:src="@{/assets/js/jquery.min.js}"></script>
        <script th:src="@{/assets/js/bootstrap.min.js}"></script>
        <script th:src="@{/assets/js/base.js}"></script>
        <script th:src="@{/assets/plugins/slimscroll/jquery.slimscroll.js}"></script>
        <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.2.0/css/font-awesome.min.css">
        <script th:inline="javascript">
            $('.close').click(function(e){
                $('.reviewModal').hide();
            })
            $('#Slim,#Slim2').slimScroll({
                height:"auto",
                position: 'right',
                railVisible: true,
                alwaysVisible: true,
                size:"8px",
            });
            $(document).ready(function(){
                var actionForm = $("form");

                var deleteFrom = $("#delete-form");
                $(".btn-danger").click(function(){
                    if(!confirm("삭제하시겠습니까?")){
                        return;
                    }
                    deleteFrom.attr("action", "/pamily/shop/remove")
                    .attr("method", "post");
                    deleteFrom.submit();
                });

                var dto = [[${dto}]]
                console.log(dto);

                var sid = [[${dto.sid}]];
                var loginName = [[${authName}]];
                var loginMid = [[${authMid}]];

                var reviewModal = $(".reviewModal");
                var inputMid = $('input[name="mid"]');
                var inputText = $('input[name="text"]');

                $(".addReviewBtn").click(function(){
                inputMid.val(loginName);
                inputText.val();
                $(".removeBtn, .modifyBtn").hide();
                $(".reviewSaveBtn").show();

                    reviewModal.modal('show');
                });

                // 리뷰 닫기 버튼
                $(".replyClose").click(function(){
                    inputMid.val("");
                    inputText.val("");
                    reviewModal.modal('hide');
                });

                //리뷰 저장
                $('.reviewSaveBtn').click(function(){
                    var data = {sid:sid, text:inputText.val(), mid:loginMid};
                    console.log(data);

                    $.ajax({
                        url: '/pamily/shop/reviews/'+sid,
                        type: "POST",
                        data: JSON.stringify(data),
                        contentType: "application/json; charset=utf-8",
                        dataType: "text",
                        success: function(result){
                            console.log("result: "+result);
                            self.location.reload();
                        }
                     })
                    reviewModal.modal('hide');
                });

                //페이지가 열리면 바로 리뷰 데이터들을 가져와서 사용
                function getShopReplies(){
                    function formatTime(str){
                        var date = new Date(str);

                        return date.getFullYear() + '/' +
                        (date.getMonth()+1) + '/' +
                        date.getDate() + ' ' +
                        date.getHours() + ':' +
                        date.getMinutes();
                    }

                    $.getJSON("/pamily/shop/reviews/"+sid+"/all", function(arr){
                        var str = "";

                        $.each(arr, function(idx, reply){
                            console.log(reply);

                            str += '<div class="card-body" data-srid='+reply.srid+' data-mid='+reply.mid+' data-name='+reply.name+'>';
                            str += '<h4 class="card-subtitle mb-2 text-muted">'+reply.name+'</h4>';
                            str += '<h4 class="card-title">'+reply.text+'</h4>';
                            str += '<p class="card-text">'+formatTime(reply.regDate)+'</p>';
                            str += '<div style="margin-bottom: 20px;">';
                            str += '</div>';
                            str += '</div>';
                        });
                        $(".reviewList").html(str);
                    });
                }
                getShopReplies();

                //특정 리뷰 선택
                var srid;
                $(".reviewList").on("click", ".card-body", function(){
                    $(".reviewSaveBtn").hide();
                    $(".removeBtn, .modifyBtn").show();

                    var targetReview = $(this);
                    srid = targetReview.data("srid");

                    rpName = targetReview.data("name");
                    if(loginName != rpName){
                        $(".removeBtn, .modifyBtn").hide();
                    }
                    console.log("srid: "+srid);
                    console.log("loginName: "+loginName);
                    console.log("rpName: "+rpName);

                    inputMid.val(targetReview.data("name"));
                    // children() : 자식 태그를 들고 오되 주석이나 태그가 아닌 문자들은 전부 제외
                    // childNodes() : 자식 태그들 들고 오되 주석이나 태그들을 전부 들고옴
                    // end() : 선택한 요소의 이전 요소
                    inputText.val(targetReview.find('.card-title').clone().children()
                    .remove().end().text());

                    $('.reviewModal').modal('show');
                });

                //리뷰 수정
                $(".modifyBtn").on("click", function(){
                    var data = {srid:srid, sid:sid, text:inputText.val()
                    , mid:loginMid};

                    console.log(data);

                    $.ajax({
                        url: '/pamily/shop/reviews/'+sid+"/"+srid,
                        type: "PUT",
                        data: JSON.stringify(data),
                        contentType: "application/json; charset=utf-8",
                        dataType: "text",
                        success: function(result){
                            console.log("result: "+result);
                            self.location.reload();
                        }
                    })
                    reviewModal.modal('hide');
                });

                //리뷰 삭제
                $(".removeBtn").on("click", function(){
                    var data = {srid:srid};

                    console.log(data);

                    $.ajax({
                        url: '/pamily/shop/reviews/'+sid+"/"+srid,
                        type: "DELETE",
                        contentType: "application/json; charset=utf-8",
                        dataType: "text",
                        success: function(result){
                            console.log("result: "+result);
                            self.location.reload();
                        }
                    })
                    reviewModal.modal('hide');
                });
            });
        </script>

    </th:block>
</th:block>