<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{/layout/basic :: setContent(~{this::content})}">
    <th:block th:fragment="content">
        <link type="text/css" th:href="@{/assets/css/demos/photo.css}" rel="stylesheet"/>
        <link type="text/css" th:href="@{/assets/css/demos/interest.css}" rel="stylesheet"/>
        <link type="text/css" th:href="@{/assets/css/skins/two.css}" rel="stylesheet"/>
        <link type="text/css" th:href="@{/assets/css/demos/shop.css}" rel="stylesheet"/>
        <script th:src="@{/assets/js/modernizr-custom.js}"></script>
        <style>
            th {
                text-align:center;
            }
            .tr-list{
                cursor: pointer;
            }
            .tr-list:hover {
                background: #c2d2ff;
            }

        </style>
        <section class="channel-one">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-3">
                        <aside class="sidebar">
                            <ul>
                                <li class="sideText ctg" th:each=" cate : ${category}">
                                    <i class="fa fa-align-left"></i>
                                    <a href="" th:text="${cate.cateName}"></a>
                                <li class="hr"></li>
                                </li>
                            </ul>
                        </aside>
                    </div><!--/ col-lg-3 -->

                    <h1 class="mt-4">Pamily Mart
                    </h1>
                    <div class="col-lg-9">
                        <!--        검색 창-->
                        <form th:action="@{/shop/shopreg}" th:method="post" enctype="multipart/form-data">
                            <div class="form-group">
                                <label for="inputName">닉네임</label>
                                <input type="email" class="form-control" name="name" id="inputName" th:value="${Authname}" readonly>
                                <input type="hidden" class="form-control" name="mid" id="mid" th:value="${mid}" readonly>
                            </div>
                            <div class="form-group">
                                <label>카테고리</label>
                            <select class="form-control" name="scno" id="scno">
                                <option th:each=" cate : ${category}"  th:value="${cate.scno}">[[${cate.cateName}]]</option>
                            </select>
                                <input type="hidden" name="cateName" id="cateName"/>
                            </div>
                            <div class="form-group">
                                <label for="inputTitle">제목</label>
                                <input type="text" class="form-control" id="inputTitle" placeholder="Text input" name="title">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputFile">파일 업로드</label>
                                <input type="file" id="exampleInputFile" name="file">
                                <p class="help-block">여기에 블록레벨 도움말 예제</p>
                            </div>
                            <!--        페이지 목록 출력-->
                            <style>                                .shopuploadResult { width: 100%;background:gray;margin-top:10px;}
                                .shopuploadResult ul {
                                    display:flex;flex-flow:row;justify-content:center;
                                    align-items:center;vertical-align:top;overflow:auto;
                                }
                                .shopuploadResult ul li{ list-style:none;padding:10px;margin-left:2em;}
                                .shopuploadResult ul li img{ width:100px;}
                            </style>
                            <div class="shopuploadResult">
                                <ul>

                                </ul>
                            </div>

                            <div class="form-group">
                            <textarea class="form-control" rows="20" name="content"></textarea>
                            </div>
                            <button type="submit" class="btn btn-default btn-primary">제출</button>
                            <div class="box"></div>
                        </form>
                    </div>
                </div><!--/ row -->
            </div><!--/ container -->
        </section><!--/ newsfeed -->

        <!-- ==============================================
        Scripts
        =============================================== -->
        <script th:src="@{/assets/js/jquery.min.js}"></script>
        <script th:src="@{/assets/js/bootstrap.min.js}"></script>
        <script th:src="@{/assets/js/base.js}"></script>
        <script th:src="@{/assets/plugins/slimscroll/jquery.slimscroll.js}"></script>
        <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.2.0/css/font-awesome.min.css">
        <script th:inline="javascript">
            $('#Slim,#Slim2').slimScroll({
                height:"auto",
                position: 'right',
                railVisible: true,
                alwaysVisible: true,
                size:"8px",
            });
            $(document).ready(function(){
                cateChange();
                var regex = new RegExp("(.*?)\.(exe|sh|zip|alz|tiff)$");
                var maxSize = 10485760;
                function cateChange(){
                    var tmp = $('#scno').children("option:selected").text();
                    $('#cateName').val(tmp);
                }
                $("#scno").change(function() {
                    cateChange();
                });

                function checkExtension(fileName, fileSize){
                    if(fileSize >= maxSize){
                        alert("파일 사이즈 초과");
                        return false;
                    }
                    if(regex.test(fileName)){
                        alert("해당 파일은 업로드 할 수 없습니다.");
                        return false;
                    }
                    return true;
                }
                function showResult(shopuploadResult){
                    var uploadUL = $(".shopuploadResult ul");
                    var str = "";
                    $(shopuploadResult).each(function(i,obj){
                        str += "<li data-imgname='" + obj.fileName + "' data-path='"
                            + obj.folderPath + "' data-uuid='"+obj.uuid+"'>";
                        str += "<div>";
                        str += "<button type='button' data-file='" + obj.imageURL
                            + "\' class='btn-warning btn-sm'>X</button><br>";
                        str += "<img src='/pamily/shopDisplay?fileName="+obj.imageURL+"'>";
                        str += "</div>";
                        str += "</li>";
                        console.log("showResult>>"+str);
                    });
                    uploadUL.append(str);
                }
                $("#exampleInputFile").on("change", function(){
                    var fileName = $(this).val().split("\\").pop();
                    $(this).siblings(".custom-file-label")
                        .addClass("selected").html(fileName);
                    var formData = new FormData();
                    var inputFile = $(this);
                    var files = inputFile[0].files;
                    var append = false;
                    for(var i=0;i<files.length;i++){
                        if(!checkExtension(files[i].name, files[i].size)) return false;
                        console.log(files[i]);
                        formData.append("uploadFiles", files[i]);
                        append = true;
                    }
                    if(!append) return;
                    for(var value of formData.values()) {
                        console.log(value);
                    }
                    $.ajax({
                        url: '/pamily/shopUploadAjax',
                        processData: false,
                        contentType: false,
                        data: formData,
                        type:'POST',
                        dataType: 'json',
                        success: function(result){
                            console.log("result: " + result);
                            showResult(result);
                        },
                        error: function(jqXHR, textStatus, errorThrown){
                            console.log(textStatus);
                        }
                    });
                    $('.shopuploadResult').on('click','li button',function(e){
                        console.log("delete file");
                        var targetFile = $(this).data("file");
                        var targetLi = $(this).closest("li");
                        $.ajax({
                            url: '/pamily/shopRemoveFile',
                            data: {fileName: targetFile},
                            dataType: 'text',
                            type: 'POST',
                            success: function(result){
                                alert("파일을 지웁니다.");
                                targetLi.remove();
                            }
                        });
                    });
                });
                $(".btn-primary").on("click", function(e){
                    e.preventDefault();
                    var str = "";
                    $(".shopuploadResult li").each(function(i, obj){
                        var target = $(obj);
                        console.log(target.data);
                        console.log(target.data('imgname'));
                        console.log(target.data('path'));
                        console.log(target.data('uuid'));
                        str += "<input type='hidden' name='shopImageDTOList[" + i
                            + "].imgName' value='" + target.data('imgname') + "'>";
                        str += "<input type='hidden' name='shopImageDTOList[" + i
                            + "].path' value='" + target.data('path') + "'>";
                        str += "<input type='hidden' name='shopImageDTOList[" + i
                            + "].uuid' value='" + target.data('uuid') + "'>";
                    });
                                        console.log(str);
                    $(".box").html(str);
                    $("form").submit();
                });
            });
        </script>

    </th:block>
</th:block>