<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{/layout/basic :: setContent(~{this::content})}">
    <th:block th:fragment="content">
        <link type="text/css" th:href="@{/assets/css/demos/photo.css}" rel="stylesheet"/>
        <link type="text/css" th:href="@{/assets/css/demos/interest.css}" rel="stylesheet"/>
        <link type="text/css" th:href="@{/assets/css/skins/skin_two.css}" rel="stylesheet"/>
        <link type="text/css" th:href="@{/assets/css/demos/shop.css}" rel="stylesheet"/>
        <style>
            th {
                text-align:center;
            }
            .tr-list{
                cursor: pointer;
            }
            .tr-list:hover {
                background: #c2d2ff;
            }
            .cateBtn{
                border:none;
                background-color: #ffffff;
            }
            .cateBtn:focus, .cateBtn:hover{
                outline: none;
                box-shadow: none;
            }

        </style>
        <section class="channel-one">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-3">
                        <aside class="sidebar">
                            <ul>
                                <li class="sideText ctg" \>
                                    <form action="/pamily/shop/shop" method="get" id="cateForm1">
                                        <button class="cateBtn1 kafe-btn kafe-btn-mint shopcateBtn teacherColor"> 분 양</button>
                                        <div class="box1" style="display:hidden;"></div>
                                    </form>
                                </li>

                                <li class="sideText ctg" \>
                                    <form action="/pamily/shop/shop" method="get" id="cateForm2">
                                        <button class="cateBtn2 kafe-btn kafe-btn-mint shopcateBtn teacherColor" value="2"> 입 양</button>
                                        <div class="box2" style="display:hidden;"></div>
                                    </form>
                                </li>

                                <li class="sideText ctg" \>
                                    <form action="/pamily/shop/shop" method="get" id="cateForm3">
                                        <button class="cateBtn3 kafe-btn kafe-btn-mint shopcateBtn teacherColor" value="3"> 동물찾기</button>
                                        <div class="box3" style="display:hidden;"></div>
                                    </form>
                                </li>

                                <li class="sideText ctg" \>
                                    <form action="/pamily/shop/shop" method="get" id="cateForm4">
                                        <button class="cateBtn4 kafe-btn kafe-btn-mint shopcateBtn teacherColor" value="4"> 공동구매</button>
                                        <div class="box4" style="display:hidden;"></div>
                                    </form>
                                </li>

                                <li class="sideText ctg" \>
                                    <form action="/pamily/shop/shop" method="get" id="cateForm5">
                                        <button class="cateBtn4 kafe-btn kafe-btn-mint shopcateBtn teacherColor" value="4"> 기타</button>
                                        <div class="box4" style="display:hidden;"></div>
                                    </form>
                                </li>
                            </ul>
                        </aside>
                    </div><!--/ col-lg-3 -->
                    <h1 class="mt-4">Pamily Mart
                    </h1>
                    <div class="col-lg-9">
                        <!--        검색 창-->
                        <form>
                            <div class="form-group">
                                <label for="inputName">닉네임</label>
                                <input type="email" class="form-control" id="inputName" th:value="${name}" readonly>
                            </div>
                            <div class="form-group">
                                <label>카테고리</label>
                            <select class="form-control">
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                            </select>
                            </div>
                            <div class="form-group">
                                <label for="inputTitle">제목</label>
                                <input type="text" class="form-control" id="inputTitle" placeholder="Text input">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputFile">파일 업로드</label>
                                <input type="file" id="exampleInputFile">
                                <p class="help-block">여기에 블록레벨 도움말 예제</p>
                            </div>
                            <div class="form-group">
                            <textarea class="form-control" rows="20"></textarea>
                            </div>
                            <button type="submit" class="btn btn-default">제출</button>
                        </form>
                        <!--        페이지 목록 출력-->
                    </div>
                </div><!--/ row -->
            </div><!--/ container -->
        </section><!--/ newsfeed -->

        <!-- ==============================================
        Scripts
        =============================================== -->
        <script th:src="@{/assets/js/jquery.min.js}"></script>
        <script th:src="@{/assets/js/bootstrap.min.js}"></script>
        <script th:src="@{/assets/js/base.js}"></script>
        <script th:src="@{/assets/plugins/slimscroll/jquery.slimscroll.js}"></script>
        <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.2.0/css/font-awesome.min.css">
        <script th:inline="javascript">
            $('#Slim,#Slim2').slimScroll({
                height:"auto",
                position: 'right',
                railVisible: true,
                alwaysVisible: true,
                size:"8px",
            });
            $(document).ready(function(){

                var itemmodal = $(".item-modal");

                $(".modal-btn").click(function() {

                    itemmodal.modal('show');
                });
                $(".get-btn").click(function(){
                    $(".getModal").modal('show');
                });

            });


        </script>

    </th:block>
</th:block>